*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
    background-color: rgb(224, 224, 224);
}

body {
    font-size: 1.6rem;
}



.container {
    width: 95%;
    margin: 2rem auto 0;
}

.row { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-6 {
    width: 90%;
}

