*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
    background-color: rgb(224, 224, 224);
}

body {
    font-size: 1.6rem;
}



.container {
    width: 100%;
}

.row { 
    display: flex;
    flex-direction: row;
    
}

.col-6 {
    width: 30rem;
}

