.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15rem;
    background-color: rgba(152,100,250,0.8);
}

.navBar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navBar a:active { 
    text-decoration: underline;
}

.navBar img{
    width: 10rem;
}

.home {
    font-size: 2.2rem;
    font-weight: 300;

}
